body{
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    text-align:center;

}

h1{
    margin: 0;
    margin-bottom: .5rem;
}

.input{
    border: 1px solid  #333;
    border-radius: .3em;
    padding: .25rem ;

}

select{
    margin-left:.5rem;
}

.equals{
    font-size: bold;
    font-weight: 2rem;
}